@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, h2, h1{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #2a2a2a;
    padding: 1em;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 5em;
    font-family: roboto, sans-serif;
    color: rgb(221, 221, 221);
}

h2{
    font-size: 2.5em;
    font-family: roboto, sans-serif;
    color: white;
}

.logo img{
    max-width: 200px;
}

.menu-top ul{
    list-style: none;
    display: flex;
}

.menu-top li{
    padding: 1em;
    text-transform: uppercase;
    color: white;
    
}

.slide{
    background-image: url('../img/bg-welcome.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    filter: grayscale(80%);
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}